<html>
    <head>
        <link rel="stylesheet" type="text/css" href="site.css">
        <title>bing</title>
    </head>        
    <body>
        <header>
            <nav>
                <a href="./about.html">bingcicle</a>
                <a href="./blog.html">posts</a>
            </nav>      
        </header>       
        <main>
            {{ with .PostsMetadata }}
            <table class="list">
                <tbody>
                    {{ range . }}
                    <tr>
                        <td class="link">
                            <a href="{{ .Link }}.html"> {{ .Title }}</a>
                        </td>
                        <td class="date">{{ .Date }}</td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
            {{ end }}
        </main>
    </body>
</html>
