<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../site.css">
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        <title>{{.Metadata.Title}}</title>
    </head>
    <body>
        <header>
            <nav>
                <a href="/about.html">about</a>
                <a href="/">posts</a>
            </nav>      
        </header>
        <main>
        <h1>{{.Metadata.Title}}</h1>
        {{.Body}}
        </main>
    </body>
</html>
<html>
